# Projeto Alura Voz

# Semana I

Análise e identificação de clientes que tem uma maior chance de deixar a empresa. Vamos investigar algumas características de clientes ou dos planos de clientes para tentar CLASSIFICAR estas pessoas como potenciais candidatas a deixar a empresa ou não.

# Carregando base de dados em Json

Irei importar as bibliotecas, carregar a base dados da API que está no formato JSON, transformar em um dataframe e formatar o espaço em que as informações irão aparecer.

In [70]:
import pandas as pd
import json
from pandas import json_normalize

In [71]:
pd.set_option("display.max_columns",100)
pd.set_option("display.max_colwidth", None)

In [72]:
dados = pd.read_json(
    path_or_buf='dadosAnalise.json',
    orient='columns'
)

dados

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'One year', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}"
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 59.9, 'Total': '542.4'}}"
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 4}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 73.9, 'Total': '280.85'}}"
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 13}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'Yes', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 98.0, 'Total': '1237.85'}}"
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 3}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 83.9, 'Total': '267.4'}}"
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 13}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'Yes', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'One year', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 55.15, 'Total': '742.9'}}"
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 22}","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 85.1, 'Total': '1873.7'}}"
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 2}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 50.3, 'Total': '92.75'}}"
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 67}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'Yes', 'OnlineBackup': 'No', 'DeviceProtection': 'Yes', 'TechSupport': 'Yes', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Two year', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 67.85, 'Total': '4627.65'}}"
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 63}","{'PhoneService': 'No', 'MultipleLines': 'No phone service'}","{'InternetService': 'DSL', 'OnlineSecurity': 'Yes', 'OnlineBackup': 'Yes', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'Yes', 'StreamingMovies': 'Yes'}","{'Contract': 'Two year', 'PaperlessBilling': 'No', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 59.0, 'Total': '3707.6'}}"

# Visualizando algumas informações após a leitura dos dados

In [73]:
dados.iloc[0]

customerID                                                                                                                                                                  0002-ORFBO
Churn                                                                                                                                                                               No
customer                                                                                  {'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 9}
phone                                                                                                                                   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
internet      {'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}
account                                           {'Contract': 'One year', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}
Name: 0, dtype: object

In [74]:
type(dados.iloc[0])

pandas.core.series.Series

In [75]:
len(dados.iloc[0])

6

# Chamando cada dicionário e normalizando

In [76]:
dados_customer = pd.json_normalize(data=dados.customer)
dados_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [77]:
dados_phone = pd.json_normalize(data=dados.phone)
dados_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [78]:
dados_internet = pd.json_normalize(data=dados.internet)
dados_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [79]:
dados_account = pd.json_normalize(data=dados.account, sep = '_')
dados_account

,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [80]:
dados.head(1)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'One year', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}"

In [81]:
dados_normais = dados.drop(columns=['customer','phone','internet','account'])
dados_normais

      customerID Churn
0     0002-ORFBO    No
1     0003-MKNFE    No
2     0004-TLHLJ   Yes
3     0011-IGKFF   Yes
4     0013-EXCHZ   Yes
...          ...   ...
7262  9987-LUTYD    No
7263  9992-RRAMN   Yes
7264  9992-UJOEL    No
7265  9993-LHIEB    No
7266  9995-HOTOH    No

[7267 rows x 2 columns]

# Concatenando todas as informações que foram normalizadas

In [82]:
dataset = pd.concat([dados_normais, dados_customer, dados_phone, dados_internet, dados_account], axis=1)
dataset

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

# Tradução das colunas para português

In [83]:
dataset.columns = ['ID','Churn','Sexo','Senior','Casado','Dependentes','Meses_Contrato','Telefone','Multiplas_Linhas',
                   'Servico_Internet','Seguranca_Online','Backup_Online','Protecao_Dispositivo','Suporte_Tecnico',
                   'Streaming_TV','Streaming_Filmes','Contrato','Fatura_Digital','Forma_Pagamento','Encargo_Mensal','Encargo_Total']
dataset.head()

,ID,Churn,Sexo,Senior,Casado,Dependentes,Meses_Contrato,Telefone,Multiplas_Linhas,Servico_Internet,Seguranca_Online,Backup_Online,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Contrato,Fatura_Digital,Forma_Pagamento,Encargo_Mensal,Encargo_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

# Irei analisar as inconsistências do Dataframe

Irei utilizar algumas funções para analisar se há alguma inconsistência no dataframe coluna por coluna

In [84]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    7267 non-null   object
 1   Churn                 7267 non-null   object
 2   Sexo                  7267 non-null   object
 3   Senior                7267 non-null   int64
 4   Casado                7267 non-null   object
 5   Dependentes           7267 non-null   object
 6   Meses_Contrato        7267 non-null   int64
 7   Telefone              7267 non-null   object
 8   Multiplas_Linhas      7267 non-null   object
 9   Servico_Internet      7267 non-null   object
 10  Seguranca_Online      7267 non-null   object
 11  Backup_Online         7267 non-null   object
 12  Protecao_Dispositivo  7267 non-null   object
 13  Suporte_Tecnico       7267 non-null   object
 14  Streaming_TV          7267 non-null   object
 15  Streaming_Filmes      7267 non-null   object
 16  Contrato              7267 non-null   object
 17  Fatura_Digital        7267 non-null   object
 18  Forma_Pagamento       7267 non-null   object
 19  Encargo_Mensal        7267 non-null   float64
 20  Encargo_Total         7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Coluna ID

In [85]:
dataset['ID'].unique()

array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
       '9993-LHIEB', '9995-HOTOH'], dtype=object)

In [86]:
dataset['ID'].drop_duplicates()

0       0002-ORFBO
1       0003-MKNFE
2       0004-TLHLJ
3       0011-IGKFF
4       0013-EXCHZ
           ...
7262    9987-LUTYD
7263    9992-RRAMN
7264    9992-UJOEL
7265    9993-LHIEB
7266    9995-HOTOH
Name: ID, Length: 7267, dtype: object

## Coluna Churn

In [87]:
dataset['Churn'].value_counts()

No     5174
Yes    1869
        224
Name: Churn, dtype: int64

Limpando valores que estão nulos

In [88]:
limpeza = dataset['Churn'] != ''
dataset = dataset[limpeza]

In [89]:
dataset['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

## Coluna Sexo

In [24]:
dataset['Sexo'].unique()

array(['Female', 'Male'], dtype=object)

In [25]:
dataset['Sexo'].value_counts()

Male      3555
Female    3488
Name: Sexo, dtype: int64

## Coluna Senior

In [90]:
dataset['Senior'].unique()

array([0, 1], dtype=int64)

In [91]:
dataset['Senior'].value_counts()

0    5901
1    1142
Name: Senior, dtype: int64

In [92]:
dataset['Senior'] = dataset['Senior'].map({0:'No', 1:'Yes'})

C:\Users\AGNALD~1.GON\AppData\Local\Temp/ipykernel_21432/3621151977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Senior'] = dataset['Senior'].map({0:'No', 1:'Yes'})

In [93]:
dataset.head(1)

,ID,Churn,Sexo,Senior,Casado,Dependentes,Meses_Contrato,Telefone,Multiplas_Linhas,Servico_Internet,Seguranca_Online,Backup_Online,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Contrato,Fatura_Digital,Forma_Pagamento,Encargo_Mensal,Encargo_Total
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3

## Coluna Casado

In [29]:
dataset['Casado'].unique()

array(['Yes', 'No'], dtype=object)

In [30]:
dataset['Casado'].value_counts()

No     3641
Yes    3402
Name: Casado, dtype: int64

## Coluna Dependentes

In [32]:
dataset['Dependentes'].unique()

array(['Yes', 'No'], dtype=object)

In [33]:
dataset['Dependentes'].value_counts()

No     4933
Yes    2110
Name: Dependentes, dtype: int64

## Coluna Meses Contrato

In [52]:
dataset['Meses_Contrato'].unique()

array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
       55, 26, 69, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14, 35,
       64, 39, 40, 11,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
       22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 31, 36, 17,
       18, 51, 38, 42,  0], dtype=int64)

In [53]:
dataset['Meses_Contrato'].isnull().sum()

0

## Coluna Telefone

In [49]:
dataset['Telefone'].unique()

array(['Yes', 'No'], dtype=object)

In [50]:
dataset['Telefone'].value_counts()

Yes    6361
No      682
Name: Telefone, dtype: int64

## Coluna Multiplas Linhas

In [59]:
dataset['Multiplas_Linhas'].unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [61]:
dataset['Multiplas_Linhas'].value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: Multiplas_Linhas, dtype: int64

## Coluna Segurança Online

In [62]:
dataset['Seguranca_Online'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [63]:
dataset['Seguranca_Online'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: Seguranca_Online, dtype: int64

## Coluna Serviços Internet

In [69]:
dataset['Servico_Internet'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [70]:
dataset['Servico_Internet'].value_counts()

No                     3498
Yes                    2019
No internet service    1526
Name: Servico_Internet, dtype: int64

## Coluna Backup Online

In [71]:
dataset['Backup_Online'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [72]:
dataset['Backup_Online'].value_counts()

No                     3088
Yes                    2429
No internet service    1526
Name: Backup_Online, dtype: int64

## Coluna Proteção Dispositivo

In [74]:
dataset['Protecao_Dispositivo'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [75]:
dataset['Protecao_Dispositivo'].value_counts()

No                     3095
Yes                    2422
No internet service    1526
Name: Protecao_Dispositivo, dtype: int64

## Coluna Suporte Tecnico

In [76]:
dataset['Suporte_Tecnico'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [77]:
dataset['Suporte_Tecnico'].value_counts()

No                     3473
Yes                    2044
No internet service    1526
Name: Suporte_Tecnico, dtype: int64

## Coluna Streaming TV

In [78]:
dataset['Streaming_TV'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [82]:
dataset['Streaming_TV'].value_counts()

No                     2810
Yes                    2707
No internet service    1526
Name: Streaming_TV, dtype: int64

## Coluna Streaming Filmes

In [80]:
dataset['Streaming_Filmes'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [84]:
dataset['Streaming_Filmes'].value_counts()

No                     2785
Yes                    2732
No internet service    1526
Name: Streaming_Filmes, dtype: int64

## Coluna Contato

In [85]:
dataset['Contato'].unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [86]:
dataset['Contato'].value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contato, dtype: int64

## Colunua Fatura Digital

In [88]:
dataset['Fatura_Digital'].unique()

array(['Yes', 'No'], dtype=object)

In [89]:
dataset['Fatura_Digital'].value_counts()

Yes    4171
No     2872
Name: Fatura_Digital, dtype: int64

## Coluna Forma de Pagamento

In [90]:
dataset['Forma_Pagamento'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [91]:
dataset['Forma_Pagamento'].value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: Forma_Pagamento, dtype: int64

## Coluna Encargo Mensal

In [95]:
dataset['Encargo_Mensal'].isnull().sum()

0

In [97]:
dataset['Encargo_Mensal'].describe()

count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: Encargo_Mensal, dtype: float64

## Coluna Encargo Total

In [94]:
dataset['Encargo_Total'].isnull().sum()

0

In [95]:
dataset['Encargo_Total'].describe()

count     7043
unique    6531
top
freq        11
Name: Encargo_Total, dtype: object

In [96]:
dataset['Encargo_Total'].describe()

count     7043
unique    6531
top
freq        11
Name: Encargo_Total, dtype: object

# Verificando algumas informações após tratamento

In [59]:
dataset[dataset.columns[0]].count()

7043

In [60]:
print(dataset.isna().sum())

ID                      0
Churn                   0
Sexo                    0
Senior                  0
Casado                  0
Dependentes             0
Meses_Contrato          0
Telefone                0
Multiplas_Linhas        0
Seguranca_Online        0
Servico_Internet        0
Backup_Online           0
Protecao_Dispositivo    0
Suporte_Tecnico         0
Streaming_TV            0
Streaming_Filmes        0
Contato                 0
Fatura_Digital          0
Forma_Pagamento         0
Encargo_Mensal          0
Encargo_Total           0
dtype: int64

In [61]:
dataset1 = dataset.isnull().sum()
dataset1

ID                      0
Churn                   0
Sexo                    0
Senior                  0
Casado                  0
Dependentes             0
Meses_Contrato          0
Telefone                0
Multiplas_Linhas        0
Seguranca_Online        0
Servico_Internet        0
Backup_Online           0
Protecao_Dispositivo    0
Suporte_Tecnico         0
Streaming_TV            0
Streaming_Filmes        0
Contato                 0
Fatura_Digital          0
Forma_Pagamento         0
Encargo_Mensal          0
Encargo_Total           0
dtype: int64

In [62]:
dataset2 = dataset.notnull()
dataset2

,ID,Churn,Sexo,Senior,Casado,Dependentes,Meses_Contrato,Telefone,Multiplas_Linhas,Seguranca_Online,Servico_Internet,Backup_Online,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Contato,Fatura_Digital,Forma_Pagamento,Encargo_Mensal,Encargo_Total
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7263,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7264,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7265,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7266,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

# Acrescentando nova coluna: Gasto_Diario

In [97]:
Gasto_Diario = round((dataset['Encargo_Mensal']/30), 2)

In [98]:
dataset.insert(loc = 18,
              column = 'Gasto_Diario',
              value = Gasto_Diario)

In [99]:
dataset

,ID,Churn,Sexo,Senior,Casado,Dependentes,Meses_Contrato,Telefone,Multiplas_Linhas,Servico_Internet,Seguranca_Online,Backup_Online,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Contrato,Fatura_Digital,Gasto_Diario,Forma_Pagamento,Encargo_Mensal,Encargo_Total
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,2.19,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,2.00,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,2.46,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,Yes,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,3.27,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,Yes,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,2.80,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,No,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,1.84,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,No,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,2.84,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,No,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,1.68,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,No,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,2.26,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,No,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,1.97,Electronic check,59.00,3707.6

Transformando o arquivo tratado em CSV para futura utilização

In [100]:
dataset.to_csv("ArquivoChurn.csv")

In [101]:
df = pd.read_csv("ArquivoChurn.csv")
df

,Unnamed: 0,ID,Churn,Sexo,Senior,Casado,Dependentes,Meses_Contrato,Telefone,Multiplas_Linhas,Servico_Internet,Seguranca_Online,Backup_Online,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Contrato,Fatura_Digital,Gasto_Diario,Forma_Pagamento,Encargo_Mensal,Encargo_Total
0,0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,2.19,Mailed check,65.60,593.3
1,1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,2.00,Mailed check,59.90,542.4
2,2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,2.46,Electronic check,73.90,280.85
3,3,0011-IGKFF,Yes,Male,Yes,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,3.27,Electronic check,98.00,1237.85
4,4,0013-EXCHZ,Yes,Female,Yes,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,2.80,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7262,9987-LUTYD,No,Female,No,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,1.84,Mailed check,55.15,742.9
7039,7263,9992-RRAMN,Yes,Male,No,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,2.84,Electronic check,85.10,1873.7
7040,7264,9992-UJOEL,No,Male,No,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,1.68,Mailed check,50.30,92.75
7041,7265,9993-LHIEB,No,Male,No,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,2.26,Mailed check,67.85,4627.65
7042,7266,9995-HOTOH,No,Male,No,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,1.97,Electronic check,59.00,3707.6